.login_logo {
}
/* 
--jacarta: #382858;
--whisper: #f0e8f2;
--mountain-mist: #919095;
--rouge: #a33961;
--boulder: #747474;
--chatelle: #cabcce;
--viola: #c995ae;
--shady-lady: #b4b2b4;
--havelock-blue: #6c94dc; */
